.home__container{
    background: rgb(78,107,164);
    background: linear-gradient(148deg, rgba(78,107,164,1) 0%, rgba(237,184,173,1) 90%);
    overflow: hidden;
    padding-top: 2.5rem;
}

.home__info{
    color: var(--white);
    font-weight: 700;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.home__person{
    background-color: var(--blue4);
    padding: 1.5rem 0.7rem;
}
.home__job{
    color: var(--red1);
    
}
.home__menu{
    background-color: var(--blue4);
    padding: 0.7rem;
    display: flex;
    font-size: 3rem;
}
.home__body{
    display: flex;
    position: relative;
    padding: 4.5rem 0 1.3rem 0.5rem;
}

.home__body h3{
    color: var(--beige0);
    font-size: 2.5rem;
    position: relative;
    font-weight: 900;
    text-shadow: var(--red1) 1.8px 1.8px;
    line-height: 3rem
}

.home__img{
    position: absolute;
    left: 40px;
    bottom: -10px;
}

.home__img img{
    height: 320px;
}

@media only screen and (min-width: 469px) {
    .home__person{
        font-size: 1.2rem;
    }

    .home__body h3{
        font-size: 2.6rem;
    }
    .home__img{
        left: 100px;
    }
}
@media only screen and (min-width: 569px) {
    .home__person{
        font-size: 1.3rem;
    }

    .home__body h3{
        font-size: 3.5rem;
    }
    .home__img{
        left: 170px;
    }
}

@media only screen and (min-width: 669px) {
    .home__person{
        font-size: 1.3rem;
    }

    .home__body h3{
        font-size: 4.3rem;
        line-height: 3.7rem;
        padding-left: 3rem;
    }
    .home__img{
        left: 350px;
    }
    
}
@media only screen and (min-width: 849px) {
    .home__person{
        font-size: 1.5rem;
    }

    .home__body h3{
        font-size: 4.3rem;
        line-height: 3.7rem;
        padding-left: 3rem;
    }
    .home__img{
        left: 420px;
    }
}

@media only screen and (min-width: 949px) {
    .home__person{
        padding-right: 4rem;
    }

    .home__body h3{
        letter-spacing: 0.8rem;
        line-height: 3.9rem;
    }
    .home__img{
        left: 430px;
    }
    .home__img img{
        width: auto;
        height: 410px;
    }
}
@media only screen and (min-width: 1049px) {
    .home__person{
        font-size: 1.8rem;
    }
    .home__body h3{
        padding-left: 8rem;
        font-size: 5rem;
        line-height: 4.3rem;
    }

    .home__img{
        left: 600px;
    }
    .home__img img{
        width: auto;
        height: auto;
    }
}

@media only screen and (min-width: 1214px) {
    .home__person{
        font-size: 1.8rem;
    }
    .home__body h3{
        padding-left: 8rem;
        font-size: 5.4rem;
        letter-spacing: 1.2rem;
        line-height: 4.5rem;
    }

    .home__img{
        left: 700px;
    }
    .home__img img{
        width: auto;
        height: auto;
    }
    .home__body{
        padding: 6.2rem 0 1.3rem 0.5rem;
    }
}