@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

*{
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0
}

:root{
 --white: #fff;
 --beige0: #ECDBBA;
 --blue0: #6B778D;
 --blue1: #28475C;
 --blue2: #30475E;
 --blue3: #152A38;
 --blue4: #261C2C;
 --purple0: #BDBDD7;
 --red0: #F05454;
 --red1: #C84B31;
 --black: #000;
}